<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="connectionName" value="AZBlogDB"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DB" connectionString="Data Source=localhost;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
    <add name="AZBlogDB" connectionString="server=123.206;database=AZBlogDB;uid=saa;pwd=" providerName="System.Data.SqlClient" />
    <!--<add name="DB" connectionString="Data Source=|DataDirectory|\test.db;Pooling=true;FailIfMissing=false;" providerName="System.Data.SQLite"/>-->
  </connectionStrings>
</configuration>